ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	color: $brown;
}

img {
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
p {
	margin: 0;
}

h2,
h3 {
	@include alegreya;
	font-weight: bold;
}

h2 {
	@include font-parameter(48px, 30px);
	letter-spacing: 0.025em;
	font-weight: bold;
}

.promo,
.recipes,
.menu {	
	background-size: cover;
}