.about {
	width: 100%;

	background-color: $white;	
	
	min-height: 760px;
	color: $brown;
}

.about__wrapper {
	@include container;
	display: flex;

	padding-top: 94px;
	padding-left: 25px;
}

.about__quote {
	width: 42%;
	text-align: center;
}

.about__title {
	color: $brown;

	margin-bottom: 11px;
}

.about__subtitle {
	display: block;

	@include alegreya;
	color: $light-brown;
	text-transform: uppercase;
	@include font-parameter(14px, 30px);
	letter-spacing: 0.1em;
	font-weight: bold;

	margin-bottom: 53px;
}

.about__paragraph {
	@include proxima;
	@include font-parameter(14px, 24px);
	letter-spacing: 0.1em;

	margin-bottom: 35px;
}

.about__work-position {
	@include alegreya;
	@include font-parameter(24px, 30px);
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.025em;

	margin-bottom: 42px;

	display: block;
}

.about__author {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 38px;
}

.about__avatar {
	margin-left: 25px;
	margin-right: 25px;
}

.about__author-name {
	@include alegreya;
	@include font-parameter(24px, 30px);
	letter-spacing: 0.025em;

	border-top: 1px solid $border-beige;
	border-bottom: 1px solid $border-beige;
	box-sizing: border-box;

	@include resize(111px, 60px);

	padding-top: 15px;
}

.about__slogan {
	@include scriptina;
	color: $light-brown;
	@include font-parameter(24px, 30px);
	letter-spacing: 0.025em;

	width: 250px;

	margin: auto;

	position: relative;
	left: -1px;

	&::before,
	&::after {
		content: '”';
		display: block;

		position: absolute;

		width: 20px;
		height: 20px;

		font-family: "Times New Roman", serif;
		@include font-parameter(60px, 30px);
		letter-spacing: 0.025em;
		color: $font-gray;
	}

	&::before {
		left: -74px;
		top: -26px;

		transform: rotate(180deg);
	}

	&::after {
		right: -74px;
		bottom: -15px;

		transform: scaleY(-1);
	}
}

.about__gallery {
	display: flex;
	flex-wrap: wrap;

	width: 50%;

	position: relative;

	margin-top: 26px;
	margin-left: 20px;

	&::before,
	&::after {
		display: block;

		position: absolute;
	}

	&::before {
		content: "";
		@include resize(279px, 279px);

		background: url("../img/lace.png") no-repeat center;
		background-blend-mode: soft-light;
		opacity: 0.97;

		top: 135px;
		left: 165px;
	}

	&::after {
		content: "Tastes so good!";
		width: 174px;

		@include alegreya;
		@include font-parameter(30px, 36px);
		letter-spacing: 0.05em;
		color: $golden;
		text-transform: uppercase;
		text-align: center;

		top: 225px;
		left: 223px;
	}
}

.about__gallery-item {
	margin-bottom: 20px;
	outline: 5px solid $white;
	outline-offset: -11px;
	&:nth-child(2n-1) {
		margin-right: 20px;
	}
}


