.ingredients__wrapper {
	width: 303px;

	position: relative;
	top: -13px;
}

.ingredients {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 600px;
}

.ingredients__item-title {
	@include font-parameter(30px, 30px);
	color: $light-brown;
	letter-spacing: 0.025em;

	text-align: center;
}

.ingredients__item {
	height: 170px;

	margin-bottom: 96px;
}

.ingredients__photo {
	@include resize(100px, 100px);
	margin: auto;

	margin-bottom: 21px;
}

.ingredients__item-title {
	margin-bottom: 19px;
}

.ingredients__photo,
.ingredients__item-title {
	position: relative;
	left: -6px;
}

.ingredients__descript {
	@include font-parameter(14px, 20px);
	letter-spacing: 0.1em;
}