.menu {
	background: url("../img/menu-background-flour-spoon.jpg") no-repeat center;

	min-height: 760px;
	width: 100%;

	box-sizing: border-box;

	color: $white;
	letter-spacing: 0.05em;
}

.menu__wrapper {
	@include container;
	display: flex;
	justify-content: space-between;
	
	padding-top: 89px;
}

.menu__title {
	@include font-parameter(60px, 30px);
	letter-spacing: 0.05em;

	margin-bottom: 13px;
	margin-top: 11px;
}

.menu__list {
	width: 50%;
	text-align: center;

	padding-left: 44px;
}

.menu__subtitle {
	@include alegreya;
	color: $pink-nude;
	text-transform: uppercase;
	@include font-parameter(18px, 30px);
	font-weight: bold;
	letter-spacing: 0.05em;
}

.menu__items {
	margin-top: 57px;
}

.menu__item {
	margin-bottom: 52px;

	position: relative;

	&::before {
		@include pseudo(90px, 27px, 126px, 50%);
		background: url("../img/spritesheet.png") no-repeat -602px -5px;

		margin-left: -45px;
	}
}

.menu__item-title {
	color: $white;
	@include font-parameter(30px, 30px);

	margin-bottom: 4px;
}

.menu__item-descript {
	@include proxima;
	@include font-parameter(16px, 30px);
	color: $gray;

	margin-bottom: 17px;
}

.menu__item-price {
	@include alegreya;
	@include font-parameter(36px, 30px);
	color: $nude;
}