.page-header__logo {
	margin-top: 9px;
	margin-right: 105px;
}

.page-header__top {
	width: 100%;

	background-color: fade-out($brown, 0.47);
	
	position: relative;
	z-index: 1;
}

.page-header__top-wrapper {
	@include container();
	display: flex;
	justify-content: flex-start;
	align-items: center;

	min-height: 70px;
}