.promo {
	background: url("../img/bread-header.jpg") no-repeat center;
	text-align: center;

	margin-top: -70px;
	// outline: 1px solid orange;
}

.promo__wrapper {
	@include container();

	padding-top: 302px;

	box-sizing: border-box;	

	height: 900px;

	position: relative;
}

.promo__title {
	@include playfair;
	font-weight: bold;
	@include font-parameter(92px, 24px);
	letter-spacing: 0.075em;
	color: $white;
	text-shadow: 0 1px 0 $dark-brown;

	margin-bottom: 167px;
	margin-top: 9px;

	position: relative;
	z-index: 0;

	&::after {
		@include pseudo(903px, 897px, -277px, 200px);
		background: url("../img/promo-shadow.png") no-repeat center; 
		z-index: -1;
	}
}

.promo__slogan {
	@include proxima;
	@include font-parameter(24px, 36px);
	color: $white;
	letter-spacing: 0.1em;
	text-shadow: 0 1px 0 $dark-brown;

	width: 550px;

	position: relative;
	z-index: 0;

	margin: auto;
	margin-bottom: 62px;
}

.promo__title,
.promo__slogan {
	padding-left: 5px;
}

.promo__ribbon {
	position: absolute;

	@include resize(80px, 80px);

	background-color: $bg-white;

	border-radius: 50%;

	bottom: -45px;
	left: 50%;
	margin-left: -40px;

	&::before {
		@include pseudo(80px, 80px, -1px, 50%);
		background: url("../img/bread-ribbon.png") no-repeat center;

		margin-left: -40px;
	}

	&::after {
		@include pseudo(106px, 106px, -14px, 39px);
		background: url("../img/frill-border.png") no-repeat center;

		margin-left: -53px;
	}
}