.recipe {
	display: flex;
	justify-content: center;
	
	position: relative;
}

.recipe__body {
	@include resize(545px, 513px);
	background-color: $bg-white;

	margin-left: -50px;
}

.recipe__subtitle {
	@include alegreya;
	color: $light-brown;
	text-transform: uppercase;
	@include font-parameter(14px, 30px);
	letter-spacing: 0.1em;
	font-weight: bold;	
}

.recipe__paragraph {
	@include proxima;
	@include font-parameter(14px, 24px);
	letter-spacing: 0.1em;
}