.recipe {
	display: flex;
	
	position: relative;
}

.recipe__photo {
	margin-left: 95px;
}

.recipe__body {
	@include resize(545px, 513px);
	background: url("../img/mill.png") no-repeat right bottom $bg-white;

	margin-left: -166px;
	padding-top: 85px;
	padding-left: 63px;
	padding-right: 63px;

	box-sizing: border-box;
}

.recipe__title {
	margin-bottom: 11px;
}

.recipe__subtitle {
	@include alegreya;
	color: $light-brown;
	text-transform: uppercase;
	@include font-parameter(14px, 30px);
	letter-spacing: 0.1em;
	font-weight: bold;

	display: block;

	margin-bottom: 53px;
}

.recipe__paragraph {
	@include proxima;
	@include font-parameter(14px, 24px);
	letter-spacing: 0.1em;
}