.social-links__wrapper {
	margin-left: auto;
}

.social-links {
	font-size: 0;
}

.social-links__item {
	@include resize(14px, 16px);
	display: inline-block;
	vertical-align: top;

	margin-right: 26px;

	background: url("../img/spritesheet.png") no-repeat -577px -3px;

	&--fb {
		background-position: -346px -4px;
	}

	&--inst {
		background-position: -552px -5px;
	}

	&:last-child {
		margin-right: 0;
	}
}